astroid==4.0.0a0
bandit==1.8.3
black==25.1.0
dill==0.4.0
email_validator==2.2.0
flake8==7.2.0
isort==6.0.1
langcodes==3.5.0
mypy==1.15.0
ndict-tools==0.7.0.post1
pipdeptree==2.26.1
polib==1.2.0
pytest-cov==6.1.1
sphinx-rtd-theme==3.0.2
toml==0.10.2
tomlkit==0.13.2
tox==4.25.0
validators==0.34.0
wheel==0.46.1
