astroid==4.0.0a0
babel==2.17.0
bandit==1.8.3
black==25.1.0
dill==0.3.9
email_validator==2.2.0
flake8==7.1.2
isort==6.0.1
langcodes==3.5.0
mypy==1.15.0
ndict-tools>=0.6.0.post1
pipdeptree==2.25.1
polib==1.2.0
PyYAML>=6.0.2
pytest-cov==6.0.0
requests==2.32.3
toml==0.10.2
tomlkit==0.13.2
tox==4.24.2
validators==0.34.0
wheel==0.45.1

